/* Estilos principais do Footer */
.footer {
    background-color: #175aac;
    text-align: center;
    padding: 20px 0;
    color: white;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.footerMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os itens */
    padding: 0;
    list-style-type: none; /* Remove os marcadores da lista */
}

.footerMenu li {
    margin: 0; /* Remove margem padrão */
}

.footer img {
    width: 35px;
}

.logoFooter img {
    width: 90%;
}

.barraSeparacao {
    font-size: 1.5rem;
    color: white;
}

.footer p {
    margin-top: 20px;
    color: white;
}

/* Responsividade */
@media (max-width: 768px) {
    .footerMenu {
        flex-direction: column; /* Alinha os itens verticalmente em telas pequenas */
        gap: 10px;
    }

    .barraSeparacao {
        display: none; /* Remove a barra de separação em telas pequenas */
    }

    .footer img {
        width: 30px; /* Reduz o tamanho das imagens */
    }
}

@media (max-width: 576px) {

    .footer img {
        width: 50px; /* Ajusta o tamanho das imagens ainda mais para telas menores */
    }

    .footer p {
        font-size: 0.875rem; /* Reduz o tamanho da fonte do texto de direitos autorais */
    }
}
