/* Estilos principais */
.navBar {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #e6e6e6;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 50px;
    margin-left: 10px;
}

/* Menu */
.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    margin-right: 20px;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

.menu li button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
}

/* Hover effects */
.menu a {
    color: #414040;
    padding: 10px 16px;
}

.menu a:hover {
    color: #0874f8;
    border-bottom: 3px solid #414040;
}

.menu button:hover {
    background: #414040;
}

/* Responsividade */
@media (max-width: 768px) {
    .navBar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .logo img {
        margin-top: 10px;
    }

    .menu {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .menu ul {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .menu li {
        margin: 5px 0;
        width: 100%;
        text-align: center;
    }

    .menu li a {
        margin: 0;
        padding: 10px 0;
        font-size: 1.2rem;
        width: 100%;
    }

    .menu li button {
        width: 100%;
        padding: 10px;
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .navBar {
        padding: 10px;
    }

    .menu li a {
        font-size: 1rem;
    }

    .menu li button {
        font-size: 1rem;
    }
}
